.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.95;
  z-index: -1;
}

.inputContainer {
  position: relative;
}

.input-section {
  position: relative;
}

.input {
  height: 2.5rem;
  border: 1px solid #ffffff;
  padding-left: 3rem;
  width: 60%;
  margin: 1rem 0;
  border-radius: 50px;
}

input[type="search"]:focus {
  outline: 0;
}

.inputSection {
  position: relative;
  text-align: center;
}

.icon {
  position: absolute;
  left: 21vw;
  top: 23px;
}

.night-icon {
  color: #484848;
}

.attribute {
  margin-top: 1rem;
  margin-left: 1rem;
}
