.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.95;
  z-index: -1;
}

.inputContainer {
  position: relative;
}

.inputSection {
  position: relative;
  text-align: center;
}

input {
  height: 2.5rem;
  border: 1px solid #ffffff;
  padding-left: 3rem;
  width: 60%;
  margin: 1rem 0;
  border-radius: 50px;
}

input[type="search"]:focus {
  outline: 0;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.closeBtn {
  position: absolute;
  right: 21vw;
  top: 23px;
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 21vw;
  top: 23px;
}

.attribute {
  position: absolute;
  bottom: 1rem;
  padding-left: 2rem;
}

.nightMode {
  color: white;
}

.nightMode a {
  color: white;
}

.dayMode {
  color: #484848;
}
