.modalContainer {
  width: 35vw;
  height: 35vh;
  padding: 1rem;
  color: #484848;
  background-color: #edf6f9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 1000;
  transition: all 0.5s;
  font-size: 1.3rem;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.contentWrapper {
  width: 60%;
  margin: 0 auto;
}

.nightMode {
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.dayMode {
  color: #484848;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
}

.currentTemp {
  font-size: 28px;
}

.subTitle {
  margin-top: 2rem;
}
