.contentWrapper {
  width: 60%;
  margin: 0 auto;
}

.subTitle {
  margin-top: 2rem;
}

.currentTemp {
  font-size: 28px;
}

.tempButton {
  border: none;
  background-color: transparent;
  color: #484848;
  cursor: pointer;
}

.modalContainer {
  width: 30rem;
  height: 20rem;
  color: white;
  background-color: #484848;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  padding: 1.5rem;
  text-align: center;
}

.closeBtn {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
}

.nightMode {
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.dayMode {
  color: #484848;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}
