.modalContainer {
  width: 35vw;
  height: 35vh;
  padding: 1rem;
  color: #484848;
  background-color: #edf6f9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 1000;
  transition: all 0.5s;
  font-size: 1.3rem;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.contentWrapper {
  width: 60%;
  margin: 0 auto;
}

.nightMode {
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.dayMode {
  color: #484848;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
}

.currentTemp {
  font-size: 28px;
}

.subTitle {
  margin-top: 2rem;
}

.tempButton {
  background-color: white;
  border: none;
  width: 3rem;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0px 5px 12px #cad4e2, -6px -3px 12px #fff;
  cursor: pointer;
  color: #484848;
}

.buttonLine {
  margin: 0 0.5rem;
}

@media (max-width: 1024px) {
  .modalContainer {
    width: 50vw;
    top: 40%;
  }
}

@media (max-width: 540px) {
  .contentWrapper {
    width: 70%;
  }
  .subTitle {
    margin-top: 1rem;
  }
  .modalContainer {
    font-size: 0.9rem;
  }
  .modalContainer svg {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .currentTemp {
    font-size: 20px;
  }
  .tempButton {
    font-size: 8px;
    width: 2rem;
    padding: 2px;
  }
}
